
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: 62.5%;
  background: #eeeeee;
}

*,
button,
input {
  font-family: Roboto;
  color: rgb(32, 32, 32);
  border: 0;
  background: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: 0;
    outline: none;
  }
}

ul {
  list-style: none;
}
